SECRET_KEY=YOUR_SECRET_KEY
DEBUG=False
LOGLEVEL=info
ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_NAME=hotel_booking
DATABASE_USERNAME=root
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432
